<!-- Provider dropdown-->
<select (change)="filterForeCasts($event.target.value)">
  <option value="0">Provider-</option>
  <option *ngFor="let d of provider" value={{d}}>
    {{d}}
  </option>
</select>

<!-- Child Subject dropdown-->
<select (change)="filterForeCasts($event.target.value)">
  <option value="0">Child Subject</option>
  <option *ngFor="let c of childSubject" value={{c}}>
    {{c}}
  </option>
</select>

<!-- Parent Subject-->
<select (change)="filterForeCasts($event.target.value)">
  <option value="0">Parent Suject</option>
  <option *ngFor="let p of parentSubject" value={{p}}>
    {{p}}
  </option>
</select>

<!-- Course count-->
<div>
  Total number of courses : {{count}}
  <br>
  Filtered Course : {{filterCount}}
</div>

<!-- Data List table-->
<table border="1" matSort (matSortChange)="sortData($event)" >
  <thead>
    <th>Child Subject</th>
    <th>Course Id</th>
    <th>Course Name</th>
    <th mat-sort-header="Length">Length</th>
    <th >Next Session Date</th>
    <th>Parent Subject</th>
    <th>Provider</th>
    <th>Universities</th>
  </thead>

  <tbody>
    <tr *ngFor="let x of dataList">
      <td>{{x['Child Subject']}}</td>
      <td>{{x['Course Id']}}</td>
      <td>{{x['Course Name']}}</td>
      <td>{{x['Length']}}</td>
      <td>{{x['Next Session Date']}}</td>
      <td>{{x['Parent Subject']}}</td>
      <td>{{x['Provider']}}</td>
      <td>{{x['Universities'].Institutions}}</td>
    </tr>
  </tbody>
</table>
